<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="THE_C_TECHNOLOGY.My.MySettings.Database1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database1.accdb"
            providerName="System.Data.OleDb" />
        <add name="THE_C_TECHNOLOGY.My.MySettings.Database1ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\admin\Desktop\THE_C_TECHNOLOGY\Database1.accdb"
            providerName="System.Data.OleDb" />
        <add name="THE_C_TECHNOLOGY.My.MySettings.Database1ConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\admin\source\repos\THE_C_TECHNOLOGY\Database1.accdb"
            providerName="System.Data.OleDb" />
        <add name="THE_C_TECHNOLOGY.My.MySettings.THECTECHNOLOGYConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\THECTECHNOLOGY.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="THE_C_TECHNOLOGY.My.MySettings.ConnectionString" connectionString="Dsn=dBASE Files"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>